

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}
/*background*/
.con {
    position: relative;
    width: 1527px;
    height: 997px;
    overflow-y: scroll;
    background-image: radial-gradient(circle at 50% 50%, #795647, #513F36, #3A322B);
    padding: 0 0 50px 0;
}

.con_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.con_top_left {
    position: absolute;
    width: 1527px;
    height:377px;
    left:0px;
    top:-1px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #F2E0D8 100%);
    background-image: linear-gradient(180deg, #3A322B 0%, #584A44 50%, #E3CBC4 100%);
    border-radius: 0px 0px 316px 20px;
    
}



.con_top_left_img {
    position: absolute;
    width: 720px;
    height: 377px;
    left: 0px;
    top: -1px;
    backdrop-filter: blur(2px);
    overflow: hidden;
    border-bottom-right-radius: 400px;
    border-top-right-radius: 10px;
    
}


.con_top_left_frame{
    position: absolute;
    width: 894px;
    height: 377px;
    left: 0px;
    top: -1px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #F2E0D8 100%);
    border-radius: 0px 0px 316px 20px;
}

.con_top_left_img > img {
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.top_left_text {
    position: absolute;
    width:465px;
    line-height:200px;
    left: 30px;
    top:227px;
    bottom: 0;
    color: white;
    font-family: 'Joti One', cursive;
    font-style: normal;
    font-size: 120px;
    font-weight: 400;
    
        
}

.add_btn>img{
    position: absolute;
    width: 102px;
    height: 110px;
    left: 723px;
    top: 145px;
    z-index: 999;
    /*Placing the element at the top level looks unchanged and requires a new attempt. https://developer.mozilla.org/en-US/docs/Web/CSS/z-index*/

}
/*Consideration needs to be given to four identical cards but in different locations and how they should be displayed.*/
.card {
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 350px;
    height:558px;
    left:33px;
    top:414px;
}

.edit {
    width: 48px !important;/*Highest priority https://stackoverflow.com/questions/27310930/override-important-on-width-attribute*/
    height: 48px !important;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.edit > img {
    width: 100%;
}

.edit_card_con {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    box-shadow: inset 0 0 15px rgba(130, 85, 87, 1);
    border-top-right-radius: 50%;
    border: 2px solid #C1B0A7;
}

.con_top_right {
    
    color: white;
    font-family:cursive;
    font-size: 30px;
    position: absolute;
    width: 100%;
    left: 169px;
    top: 120px;
    font-style: normal;
    font-weight: 400;



}


.card_top {
    width: 100%;
    display: flex;
    align-items: center;
}

.card_top_left {
    width: 30%;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    border-radius: 100%;
}

.card_top_right {
    margin-left: 20px;
}
.music_com{
    position: absolute;
width: 289px;
height: 272px;
left: 30px;
top: 180px;

font-family: 'Jaldi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
text-align: justify;

color: black;

}
